:root{

    /*Primary*/

    --marine-blue: hsl(213, 96%, 18%);
    --purplish-blue: hsl(243, 100%, 62%);
    --pastel-blue: hsl(228, 100%, 84%);
    --lightblue: hsl(206, 94%, 87%);
    --strawberry-red: hsl(354, 84%, 57%);

    /*Neutral*/

    --cool-gray: hsl(231, 11%, 63%);
    --light-gray: hsl(229, 24%, 87%);
    --magnolia: hsl(217, 100%, 97%);
    --alabaster: hsl(231, 100%, 99%);
    --white: hsl(0, 0%, 100%);

}


@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');  

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: var(--magnolia);
}

.btns-container{
    display: grid;
    position: absolute;
    bottom: 0;
    align-items: center;
    align-content: center;
    background-color: white;
    height: 100px;
    width: 100%;
}

.btns{
    display: flex;
    justify-content: space-between;
    
}

.back, .next, .finish-btn{
    border: none;
    height: 40px;
    width: 100px;
    margin-right: 15px;
    border-radius: 5px;
    font-weight: 500;
}

.next{
    background-color: var(--marine-blue);
    color: white;
}

.back{
    background-color: white;
    color: var(--alabaster);
}

.finish-btn{
    background-color: var(--purplish-blue);
    color: white;
    font-weight: 700;

}

.step{
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 339px;
    height: 548px;
    top: 99px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    background-color: white;
    z-index: 6;
}

.step.personal-info{
    height: 430px;
}

.step.add-ons{
    height: 400px;
}

.step.finish{
    height: 400px;
}

.step.thanku{
    height: 400px;
}

.steps-btn{
    display: flex;
    position: absolute;
    align-items: center;
    top: 29px;
    left: 26px;
    right: 0;
    flex-direction: row;
    justify-content: center;
}

.step-btn{
    width: 35px;
    height: 35px;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
    border-radius: 50%;
    color: white;
    font-weight: 700;
    background-color: transparent;
    border: 1.9px solid var(--light-gray);
}

.step-btn.current{
    color: var(--marine-blue);
    background-color: var(--lightblue);
    border: none;
}

.step-content{
    padding: 2rem 1rem;
}

.title{
    font-weight: 790;
    font-size: 26px;
    color: var(--marine-blue);
    margin-bottom: 1rem;
}

.sub-title{
    font-size: 16px;
    color: var(--cool-gray);
    margin-bottom: 1.3rem;
}

.sub-title-txt{
    margin-bottom: 20px;
}

.input{
    display: block;
    width: 90%;
    height: 39px;
    border-radius: 5px;
    padding: 1rem;
    font-weight: 700;
    color: var(--light-gray);
    border: 1px solid var(--light-gray);
}

.label{
    color: var(--marine-blue);
    display: block;
    margin-bottom: 20px;
}

.click-btns-box{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.click-btn{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 80px;
    margin-top: 15px;
    border: 1px solid var(--light-gray);
    border-radius: 10px;
    background-color: var(--white);
}

.click-btn-addon{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 80px;
    margin-top: 15px;
    border: 1px solid var(--light-gray);
    border-radius: 10px;
    background-color: var(--white);
}

.btn-clicked{
    border: 0.5px solid var(--purplish-blue);
    background-color: var(--magnolia);
}

.btn-img{
    margin-right: 10px;
    margin-left: 10px;
}

.btn-content{
    display: flex;
    align-items: start;
    flex-direction: column;
}

.btn-content .plan, .monyear{
    font-size: 16px;
    font-weight: 700;
    color: var(--marine-blue);
}

.btn-content .price, .desc{
    color: var(--cool-gray);
}

.btn-content-text{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left: 10px;
}

.slide{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    height: 50px;
    background-color: var(--alabaster);
}

.addon{
    flex-direction: row;
    align-items: center;
}

.addonstep{
    margin-bottom: 5px;
}

.checkbox{
    margin: 1rem 0.5rem 1rem 1rem;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    accent-color: var(--purplish-blue);
}

.payment-price{
    display: flex;
    align-items: start;
}

.month, .year{
    color: var(--purplish-blue);
}

.recipe-box{
    margin-top: 2rem;
    padding: 1rem;
    border-radius: 15px;
    background-color: var(--alabaster);
}

.top-side{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--light-gray);
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

.title-and-change-box .title{
    margin-bottom: 0;
    font-size: 16px;
}

.recipe-change{
    border: none;
    font-size: 16px;
    background-color: transparent;
    color: var(--cool-gray);
    text-decoration: underline;
}

.title-and-change-price{
    color: var(--marine-blue);
    font-weight: 700;
}

.bottom-side{
    display: flex;
    justify-content: space-between;
}

.chosen-addon, .chosen-addon-price{
    margin-bottom: 1rem;
}

.chosen-addon-price{
    color: var(--marine-blue);
}

.total{
    display: flex;
    margin: 2rem 1rem 2rem 1rem;
    justify-content: space-between;
}

.total-month, .total-year{
    display: flex;
}

.total-month-price{
    font-weight: 700;
    color: var(--purplish-blue);    
}

.thanku-content{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.thanku-img{
    align-self: center;
    margin-top: 5rem;
    margin-bottom: 1rem;
    height: 50px;
    width: 50px;
}

.thanku-txt-box{
    display: flex;
    flex-direction: column;
}

.thanku-txt{
    font-size: 17px;
    line-height: 25px;
    margin: 0 1rem;
    color: var(--cool-gray);
}

@media only screen and (min-width: 1440px) {
    .step{
        width: 1000px;
        height: 1240px;
    }

    .step-content{
        padding: 4rem 0rem 4rem 20rem;
    }
}

.hide{
    display: none;
}